.btn{
    display: block;
    padding: 10px 12px;
    background-color: #f39c12;
    color: #FFF;
    border-radius: 3px;
    text-decoration: none;
    border: 0;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.2);
}
