#Home {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flext-wrap: wrap;
      flex-direction: column;

}
h1{
  font-size: 1.5em;
  font-weight: normal;
  font-style: none;
}
.btn:focus{
  outline: 0;
}
